* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  color: #383641;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
}

p {
  color: #626269;
  font-size: 22px;
  line-height: 35px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #383641;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu-items {
  position: fixed;
  top: 80px;
  right: 0;
  width: 100%;
  height: 90vh;
  display: flex;
  color: #fafafa;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  gap: 100px;
  align-items: center;
  background-color: #383641;
  opacity: 0.95;
  transition: all 0.3s ease;
}

.menu-items a {
  color: #fafafa;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.hidden {
  opacity: 0;
  right: 100%;
}

@media only screen and (min-width: 900px) {
  header {
    padding: 40px;
  }
  .menu-items {
    position: static;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: unset;
    height: unset;
    right: unset;
    opacity: 1;
    padding-top: 0;
    background-color: #fafafa;
  }

  .menu-items a {
    color: #383641;
  }
}

/* home-page */

.home-page {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  padding-inline: 20px;
  flex: 1;
}

.home-hero-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  /* align-items: center; */
}

.home-image-container img {
  width: 100%;
}

.home-hero-cta {
  padding: 10px 20px;
  text-align: center;
  background-color: #383641;
  color: #fafafa;
}

.home-hero-cta:hover {
  background-color: #626269;
  /* transform: scale(1.1); */
}

.skills {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-text {
  margin-top: 10px;
}

@media only screen and (min-width: 900px) {
  .home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-inline: 40px;
  }
  .home-hero-container {
    margin-top: 0;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 20px;
    /* align-items: center; */
    max-width: 600px;
  }

  .home-image-container img {
    min-width: 400px;
    max-width: 600px;
  }

  p {
    font-size: 26px;
  }
}

/* about page */

/* projects page */

.project-page-wrapper {
  padding-inline: 20px;
}

.project-page-wrapper h1 {
  text-align: center;
  margin-bottom: 20px;
}

.project-page-wrapper > p {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex: 1;
}

.project {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 400px;
}

.project-img-wrapper img {
  width: 100%;
}

.prokect-link {
  background-color: #383641;
  width: 100px;
  padding: 10px;
  color: #fafafa;
}

.prokect-link:hover {
  background-color: #626269;
  /* transform: scale(1.1); */
}

@media only screen and (min-width: 900px) {
  .project-page-wrapper {
    padding-inline: 40px;
  }

  .project-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
  }

  .project-page-wrapper h1 {
    margin-bottom: 30px;
  }

  .project-page-wrapper > p {
    margin-bottom: 30px;
  }
}

/* footer */

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #383641;
  color: #fafafa;
  height: 100px;
}

.footer-container a {
  text-transform: uppercase;
  /* font-size: 20px; */
  font-weight: bold;
  color: #fafafa;
}

.social {
  text-transform: uppercase;
  display: flex;
  gap: 10px;
}
